$main_color: #01B8F1;
$contrast_color: #c7254e;
$text_color: #333;
$dim_text_color: rgba(0, 0, 0, 0.6);
$link_color: #009FDA;
$linkhover_color: #00baff;
$border-light-gray: #ddd;
$font-size-default: 14px;
