<div id="new_board_container">
<h2 class="ui header">
  <%= fa_icon "plus-circle" %>
  <div class="content">
    새 게시판
    <div class="sub header">주제를 선택한 후 게시판 제목을 입력하면 자신만의 게시판을 만들수 있습니다.</div>
  </div>
</h2>
  <div class="ui divider"></div>
<%= render 'form' %>
</div>